html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 95%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
    column-gap: 10px;
    align-items: first baseline;
  }

@media screen and (min-width: 772px) {
    div{
      grid-template-columns: 45% 45%;
    }
    img{
      border-radius: 100%;
      
    }

    figure:nth-last-child(1){
            grid-column: 1 / span 2;
        }
    }




@media screen and (min-width: 992px) { 

    img{
      border-radius: 0%
    }

    figure:nth-child(3n){
            grid-column: 1 / span 2;
        }

}

@media (prefers-reduced-motion: reduce){
    * {
        scroll-behavior: none;
    }
}

@media (prefers-color-scheme: dark){

    figure{
        background-color: #111111;
        color: rgb(219, 211, 77);
        border-color: #111111;
    }
    
}